@font-face {
    font-family: 'Crochet Art';
    src: url('../assets/fonts/VacerSansRegularPersonal.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crochet Art Light Personal';
    src: url('../assets/fonts/VacerSansLightPersonal.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}